# variable swap

In [ ]:
x=int(input('Enter 1st number to swap'))

y=int(input('Enter 2nd number to swap'))

x=x+y

y=x-y

x=x-y

print(f'after swap X is {x}')

print(f'after swap Y is {y}')

# Even / odd

In [ ]:
n=int(input())

if n%2==0:
    
    print('Even')
    
else:
    
    print('Odd')

# String Reverse



s1=input()

In [ ]:
def reverse_string(s2):
    
    s3=''
    
    l=len(s2)
    
    for i in range(l-1,-1,-1):
        
        s4=s2[i]
        
        s3=s3+s4
        
    return s3





s1=input()

s4=reverse_string(s1)

print(s4)

# Type Conversion

In [ ]:
list_of_int_element=[234,756,1200,5436]

list_of_string_element=[]

for k in range(4):
    
    n=list_of_int_element[k]
    
    n=str(n)
    
    list_of_string_element.append(n)
    
list_of_int_element.clear()

list_of_int_element=list_of_string_element
  
print(list_of_int_element)

# Temperature Converter

In [ ]:
## F = (9/5) °C+32

c=float(input('Enter Temperature :'))

f=((9/5)*c)+32

print(f'Farenhite temperature:  {f}')

# Data Type Checker

In [ ]:
list=5.4

print(type(list))

list=70

print(type(list))

list=['data',8,6.8]

print(type(list))

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(type(thisdict))

# String Palindrome

In [ ]:
def reverse_string(s2):
    
    s3=''
    
    l=len(s2)
    
    for i in range(l-1,-1,-1):
        
        s4=s2[i]
        
        s3=s3+s4
        
    return s3





s1=input()

s4=reverse_string(s1)

if s1==s4:
    
    print("Palindrome!")
    
else:
    
     print("Not a Palindrome!")

# String Reversal with Slicing

In [ ]:

def reverse_string(s2):
    
    s=s2[::-1]
    
    return s





s1=input()

s4=reverse_string(s1)

print(s4)

# String Concatenation

In [ ]:
s1="odd"

s2="even"

print(s1+"&&"+s2)

print(s1+s2)

# Typecasting Challenge

In [ ]:
##  `a = ‘100’`, `b = 25`, and `c = ‘10.5’`

a='100'

b=25

c='10.5'

a=int(a)

b=a+b

c=float(c)

c=b-c

s1= ' is the answer.'

s2=str(c)

s=s2+s1

print(s)

# Positive, Negative, or Zero

In [ ]:
n=int(input())

if n==0:
    print('Zero.')
    
elif n>0:
    print('Positive.')
    
else:
    print('Negative.')

# Largest of Three Numbers:

In [ ]:
n1=int(input())
n2=int(input())
n3=int(input())

if n1>n2 and n1>n3:
    print(n1)
    
elif n2>n1 and n2>n3:
    print(n2)
    
else:
    print(n3)

# Leap Year Checker

In [ ]:
y=int(input())

if y%400==0:
     print('Leap Year')
    
elif y%100==0:
            print('not Leap Year')
        
elif y%4==0:
            print('Leap Year')
        
else:
        print('Not a Leap Year')

# Grades Classification

In [ ]:
n=int(input())

if n>=90:
    print('A+')
    
elif n>=80:
    if n<=89:
        print('A')
        
elif n>=70:
    if n<=79:
        print('B')
        
elif n>=60:
    if n<=79:
        print('C')
        
else:
    print('F')

# Vowel or Consonant

In [ ]:
c=input()

match c:
    
    case 'A':
        print('Vowel')
        
    case 'E':
        print('Vowel')
        
    case 'I':
        print('Vowel')
        
    case 'O':
        print('Vowel')
        
    case 'U':
        print('Vowel')
        
    case 'a':
        print('Vowel')

    case 'e':
        print('Vowel')

    case 'i':
        print('Vowel')

    case 'o':
        print('Vowel')

    case 'u':
        print('Vowel')

    case _:
        print('Consonant')

# Time Classification

In [ ]:
c=int(input())

if c>=0 and c<=11:
    print('Good Morning')
    
elif c>=12 and c<=18:
    print('Good Afternoon')
    
elif c>=19 and c<=21:
    print('Good Evening')
    
else:
    print('Good Night')

# Triangle Type Checker

In [ ]:
n1=int(input())

n2=int(input())

n3=int(input())

if n1==n2 and n2==n3:
    print('equilateral')
    
    
elif n1!=n2 and n2!=n3 and n1!=n3:
    print('scalene triangle')
    
else:
    print('isosceles')

# Quadratic Equation Solver

In [ ]:
a=int(input())
b=int(input())
c=int(input())

r=(b*b)-(4*a*c)

if r<0:
    print('complex Number')
    
elif r==0:
    print(-b/(2*a))
else:
    print(((-b)+r)/(2*a))
    print(((-b)-r)/(2*a))

# Number Ranges

In [ ]:
n=int(input())

if n>=0 and n<=50:
    print(' range: 0-50')
    
elif n>=51 and n<=100:
    print(' range: 51-100')
    
elif n>=101 and n<=150:
    print(' range: 101-150')
    
else:
    print(' Above 150')

# 20. Sum of N Numbers:

In [ ]:
n=int(input())

s=0

for i in range(1,n+1):
    s=s+i
    
print(s)

# 21. Factorial Calculator:

In [ ]:
n=int(input())

i=1

while n>=1:
    i=n*i
    n-=1
    
print(i)

# 22. Table of a Number:

In [ ]:
n=int(input())

i=1

for i in range(1,11):
    
    print(f" {n} * {i} = {n*i} ")

# 23. Count Digits in a Number:

In [ ]:
n=int(input())
c=0

while n!=0:
    
    
    i=n%10
    c+=1
    n=(n//10)
    
print(c)

# 24. Fibonacci Sequence:

In [ ]:
n=int(input())

n1=0
n2=1

print(n1,end=" ")

print(n2,end=" ")

for i in range(n-2):
    
    n3=n1+n2
    
    print(n3,end=" ")
    
    n1=n2
    
    n2=n3

# 25. Sum of Even Numbers:

In [ ]:
n=int(input())

s=0

for i in range(n):
    if i%2==0:
        s=s+i
        
print(s)

# 26. Print Patterns:

In [ ]:
n=int(input())

for i in range(n):
    for j in range(i+1):
        print('#',end=' ')
    print()

In [ ]:
n=int(input())

for i in range(n,-1,-1):
    for j in range(i,-1,-1):
        print('#',end=' ')
    print()

# 27.Prime Number Checker

In [ ]:
import math

n=int(input())

sqr_n=math.sqrt(n)

sqr_n=int(sqr_n)

c=0

for i in range(2,sqr_n+1):
    
    if n%i==0:
        print(i)
        c=1
        print(f'{n} is not a prime number!')
        
if c==0:
     print(f'{n} is a prime number!')

# 28. List Manipulation

In [ ]:
sum=0

avg=0

min=0

max=0

lis=[11,45,5,62,28,39]

min=lis[0]
max=lis[0]

for i in range(len(lis)):
    sum=sum+lis[i]
    
    if lis[i]<min:
        min=lis[i]
        
    if lis[i]>max:
        max=lis[i]
        
print(f'Maximum is: {max}')

print(f'Minimum is: {min}')

avg=sum/len(lis)

print(f'Average is: {avg}')

# 29. Reverse String:

In [ ]:
str=input()

s1=''

for i in range(len(str)-1,-1,-1):
    
    s2=str[i]
    
    s1=s1+s2
    
print(s1)

# 30. Multiplication Table:

In [ ]:
for i in range(1,11):
    print()
    print(f'Multiplication Table of {i}: ')
    print()
    for j in range(1,11):
        
        print(f'{i} * {j}  = {i*j}')

# 31. Print Patterns

In [ ]:
for i in range(8):
    
    for j in range(i+1):
        
        print('*',end='')
        
    print()

# 32. Matrix Multiplication:

In [ ]:
r=int(input('Input Rows:'))
            
c=int(input('Input Columns:'))

matrix1=[]
matrix2=[]

row=[]

for k in range(r):


    for i in range(c):
            
            n1=int(input())

            row.append(n1)
        
    matrix1.append(row)
    row=[]

row=[]

r1=int(input('input Rows: '))
c1=int(input('input Columns: '))

for k in range(r1):


    for i in range(c1):
            
            n1=int(input())

            row.append(n1)
        
    matrix2.append(row)
    row=[]
    
s=0
m=0

multiplied_matrix=[]

temp=[]

sum1=0


r2=r1

for k in range(r2):
    
    for i in range(r2):
        
        for j in range(r2):
            
            m=matrix1[k][j]*matrix2[j][i]
            sum1=sum1+m
            
        temp.append(sum1)
            
        sum1=0
        
    multiplied_matrix.append(temp)
    temp=[]
    
print(multiplied_matrix)

# 33. Chessboard Pattern:

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end="")
    print()

# 34. List Sum:

In [ ]:
tlist_n=[]

n=5
s=0

for i in range(n):
    
    n1=int(input())
    tlist_n.append(n1)
    s+=n1
    
print(s)

# 35. List Average:

In [ ]:
tlist_n=[]
avg=0

n=5
s=0

for i in range(n):
    
    n1=int(input())
    tlist_n.append(n1)
    s+=n1
avg=s/n
    
print(avg)

# 36. List Max and Min:

In [ ]:
tlist_n=[]
avg=0

n=5
s=0

max=0

min=2433446644

for i in range(n):
    
    n1=int(input())
    tlist_n.append(n1)
    
    if tlist_n[i]>max:
        max=tlist_n[i]
        
    if tlist_n[i]<min:
        min=tlist_n[i]
    s+=n1
avg=s/n
    
print(f'Average:{avg}')
print(f'Minimum:{min}')
print(f'Maximum:{max}')

print(min)
print(max)

# 37. List Sorting:

In [ ]:
tlist_n=[]

n=5

for i in range(n):
    
    n1=int(input())
    tlist_n.append(n1)
    
for i in range(n):
    for j in range(n):
        if tlist_n[i]<tlist_n[j]:
            t=tlist_n[i]
            tlist_n[i]=tlist_n[j]
            tlist_n[j]=t
            
print(tlist_n)

# 38. List Filtering:

In [ ]:
filter=[12,45,60,23,44,99]
emp=[]

for i in range(len(filter)):
    if filter[i]%2==0:
        emp.append( filter[i])
        
print(emp)

# 39. List Reversal:

In [ ]:
reverse_list=[34,'MIT','Havard',203,'@',[1,'#',5]]

list=[]

for k in range(len(reverse_list)-1,-1,-1):
    list.append(reverse_list[k])
    
print(list)

# 40. List Manipulation:

In [ ]:
l1=[1,4,26,17,20]
l2=[1,35,9,20,4]
l3=[]

for s in l1:
    if s in l2:
        l3.append(s)
        
print(l3)

# 41. List Element Count:

In [ ]:
l=['@',33,'*','@','@',33,55,11,20,95]

rep=[]

for s in l:
    r=s
    c=0
    
    if r not in rep:
    
        for i in range(len(l)):
            if r==l[i]:
                c+=1
            
        if c>1:
            print(f'{r} is {c} times in the list')
            rep.append(r)

# 42.

In [ ]:
t=[1,3,3,4,5,5,5,6,7,8,8,8,10,11]

r=[]

[r.append(x) for x in t if x not in r]

r

# 43. List Comprehension:

In [ ]:
number_list = [i**2 for i in range(10)]
print(number_list)

# 44. Matrix Addition:

In [ ]:

matrix1=[]
matrix2=[]

row=[]

r1=int(input('input Rows: '))
c1=int(input('input Columns: '))

for k in range(r1):


    for i in range(c1):
            
            n1=int(input())

            row.append(n1)
        
    matrix2.append(row)
    row=[]
    
    

r1=int(input('input Rows: '))
c1=int(input('input Columns: '))

for i in range(r1):


    for j in range(c1):
            
            n1=int(input())

            row.append(n1)
        
    matrix1.append(row)
    row=[]
    
    
addition_matrix=[]

   

s=0
m=0


for i in range(r1):
    
    for j in range(r1):
            
        m=matrix1[i][j]+matrix2[i][j]
        addition_matrix.append(m)
        
        print(m,end=' ')
        
    print('\n')

# 45. Flatten Nested List:

In [ ]:
nested_list = [['a'], ['n', 'i'], ['k', 'a', '@', 'g','m'],['a','i','l'],['.','com']]

flat_list = []

for sublist in nested_list:
    for element in sublist:
        flat_list.append(element)

print(flat_list)

# 46. List Element Frequency

In [ ]:
import pandas as pd

Data = [['a', 'b'], ['b', 'c', 'a'], ['h', 'y', 'g'], ['a', 'c', 'y', 'b'], ['a', 'h']]

pd.Series([d for sub in Data for d in sub]).value_counts()

# 47

In [ ]:
matrix=[[1,2],[2,3],[3,4]]

transpose=[[0,0,0],[0,0,0]]

for i in range(len(matrix)):
    
    for j in range(len(matrix[0])):
        transpose[j][i]=matrix[i][j]
        
print( transpose)

# 48

In [ ]:
list1=[[10,30,65],
      
      [40,67,88],
      
      [123,276,345]]


list2=[[100,307,615],
      
      [540,617,88],
      
      [13,26,382]]

r=list(map(lambda x, y:x + y , list1,list2 ))

print()

r

# 49. Tuple Concatenation

In [ ]:
chips = ('R', '#'),  
beef = (27, 47),  
  

print("Chips : " + str(chips))  
print("Beef : " + str(beef))  
  
  
combine = (chips, ) + (beef, )  
  

print("Tuples after Concatenating : " + str(combine))

# 50. Tuple Unpacking

In [ ]:



fruits = ("x", "y", "z")

(sky, sea, mountain) = fruits

print(sky)
print(sea)
print(mountain)

# 51. Tuple Sorting

In [ ]:
tuple_sort= (57, 9, 120, 11)  
list(tuple_sort).sort()   
print(tuple_sort)

# 52. Tuple Frequency Count

In [ ]:
from collections import defaultdict

freq_count = (14, 5, 4, 88, 6, 6, 88, 5, 14)

new_list = defaultdict(int)

for freq in freq_count:
     
    new_list[freq] += 1
 
print(new_list)

# 53. Tuple to List

In [ ]:

t = (0, 2, 4, 6, 8)
t_to_list = list(t)

print(t_to_list)

print(type(t_to_list))

# 54. Tuple Reversal

In [ ]:
def Reverse_tuple(t):
    new_t = t[::-1]
    return new_t

t = ('a','n','i','k','@','g','m','a','i','l','.','c','o','m')

print(Reverse_tuple(t))

# 55. Tuple Slicing

In [ ]:
tuples = ('Spark','Python','Pandas','Pyspark','Java','Hadoop')
result = tuples[1:4]
result

In [ ]:
tuples = ('Spark','Python','Pandas','Pyspark','Java','Hadoop') 
begin = 2 

end = 5

s = slice(begin, end) 
slice_t = tuples[s]

slice_t

# 56. Tuple Operations

In [ ]:
t1=(2,6,12,5)

t2=(4,7,1,3)


add = tuple(map(lambda i, j: i + j,t1, t2))


print("Resultant tuple after addition : " + str(add))

sub = tuple(map(lambda i, j: i - j,t1, t2))

print("Resultant tuple after subtraction : " + str(sub))


mul = tuple(map(lambda i, j: i * j,t1, t2))

print("Resultant tuple after multiplication : " + str(mul))

# 57. Tuple Membership Test

In [ ]:
t=(10,4,5,6,8)

item=66

f=[i for i in t if i==item]

print(["yes" if f else "no"])

# 58

In [ ]:
name="John"

department="CSE"

school="CUET"

persna_info=(name,department,school)

persna_info

# 59 nested element

In [ ]:
num=[1,2,[3,[5,6]],8]

print(num[2])

num.append([23,85,2])

num

# 60. nested ist fattening

In [ ]:
lst=[[13],[2,3],[4,5,67,8]]

flat_lst=sum(lst,[])


flat_lst

# 61.nested list sorting

In [ ]:
init_s=[[3,2],[1,3,22],[2,4,3,66,],[44,2],[8,4,7,21]]

rs= sorted(init_s,key=len)

print("sorted list",str(rs))

# 62

In [ ]:
c_dnt=[(3,5),(1,4),(2,7)]

c_dnt

y=[dc[1] for dc in c_dnt]


x=[dc[0] for dc in c_dnt]



print('X_Coordinate',x)

print('Y_Coordinate',y)

# 63

In [ ]:

matrix = [[356, 704], [84,213], [94, 450]]

transpose = [[0, 0, 0], [0, 0, 0]]

for i in range (len (matrix)):

              for j in range (len (matrix[0])):

                             transpose [j][i] = matrix [i][j]

for r in transpose :

              print (r)

# 64

In [ ]:
matrix=[[1,4,5],[7,2],[6,3,8,5]]

fm=[]

for sl in matrix:
    for v in sl:
        fm.append(v)
        
print(fm)

# 65

In [ ]:
m=[[1,4,5],[7,2],[6,3,8,5]]

fm=[]

even=0

odd=0


for sl in m:
    for v in sl:
        if v%2==0:
            even+=1
        else:
            odd+=1
        
print(even)

print(odd)

# 66

In [ ]:
ss=[[34,7,2],[32,80],[43,78,8]]

s=[]

for n in ss:
    s.append(max(n))
    
print(max(s))

# 67

In [5]:

def DiagonalSums(mat, n):
 
    principal_diagonal=0
    secondary_diagonal = 0
    
    for i in range(0, n):
        
        for j in range(0, n):
            
            if (i == j):
                principal_diagonal+= mat[i][j]
 
    
            if ((i + j) == (n - 1)):
                secondary_diagonal += mat[i][j]
                
    print('principal_diagonal:',principal_diagonal)
    print('secondary_diagonal:',secondary_diagonal)
                

squarematrix = [[ 4, 9, 3, 7 ],
                [ 0, 6, 7, 2 ],
                [ 11, 4, 3, 7 ],
                [ 23, 6, 3, 8 ]]


DiagonalSums(squarematrix, 4)

principal_diagonal: 21
secondary_diagonal: 41

# 68

In [ ]:
m=[[1,4,5],[7,2],[6,3,8,5]]

emnt=31
i=0
j=0
f=67

for sl in m:
    for v in sl:
        if v==emnt:
                print('fd')
                f=22
                
if f==67:
    print('not found')

# 69

In [ ]:
sy=['arab','india','japan','arab','syria','peru','libia']

usy=set(sy)

print(usy)

# 70

In [ ]:
s1={2,6,8,4}
s2={1,2,6,3}

s3=s1.intersection(s2)

print(s3)

# 71

In [ ]:
s1={'python','java','c'}

s2={'c++','python'}

s=s1.union(s2)

print(s)

# 72

In [ ]:
A={10,57,23,25,43}

B={34,10,25,80}

print(A-B)

# 73

In [ ]:
A={7,8,9}

B={8,9,10}

r=A.symmetric_difference(B)

print(r)

# 74

In [ ]:
A={7,8,19,56,44,64,23}

B={8,19,10,56}

C={6,77,43,23,64,56}

A_in_B=A.intersection(B)

print(A_in_B)


B_un_C=B.union(C)

print(B_un_C)

C_diff_A=C.symmetric_difference(A)

print(C_diff_A)

# 75

In [ ]:
l1=[9,4,5,8,10]

l2=[5,6,8,9]

f=0

subset=False

for i in l2:
    
    if i in l1:
        
        subset=True
        
        
if subset==False:
    
    print('l2 is not a subset  of l1')
    
else:
    
    print('l2 is a subset  of l1')

# 76

In [ ]:
A={1,2,3,4,5,6}

B={1,2,3}

print(A>=B)

# 77

In [ ]:
s={}
s=set(s)

for i in range(5):
    n=int(input())
    s.add(n)
    
l=len(s)

print(f'number of eements : {l}')

######

# 78

In [ ]:
n=int(input())

sets=[34,56,22,46,88]

sets=set(sets)

if n in sets:
    print("Found!")
else:
   print("Not Found!")

# 79

In [ ]:
std={'Steven':45,'Any':5,'Daniel':21}

if 'Kayle' not in std.keys():
    std['Swatilekha']=15

print("Before Update:\n",std)

print("After Update:\n",std)

std.update({"Gwen":3})

print(std)

# 80

In [ ]:
emp={}

for i in range(3):
    
    name=input('enter employee name:')
    department=input('enter employee department:')
    emp[name]= department
    
print(emp)

print("Keys:")

for i,j in emp.items():
    print(i)
    
print("Values:")

for i,j in emp.items():
    print(j)

# 81

In [ ]:
emp={'Engand':'Football','India':'Ha-Du-Du','Bangadesh':'ludu','Australia':'Cricket'}

c=0

for i,j in emp.items():
    c+=1

print('Number of Keys&Vaues: ',c)

# 82

In [ ]:
dict={'coconut':120,'orange':300,'Apple':350,'Egg':150}

n=150

for k,v in dict.items():
    
    if v==n:
        
        print(k)
        
  

    
print()

# 83

In [ ]:
def Merge(d1,d2):
    r=d1|d2
    return r



d1={'blood':'Red','Leaf':'Green','sky':'Blue'}

d2={'Hair':'Black','Iris':'Grey','Peace':'White',''}

d3=Merge(d1,d2)

print(d3)

# 84

In [ ]:
d1={'Beef':'1 kg','Chicken':'3 kg','Apple':'2 kg', 'Orange':'1.5 kg'}

d1_t={}

inp=input("Enter an item to delete:")

for k,v in d1.items():
    
    if k!=inp:
        
        d1_t[k]=v
        
print(d1_t)

# 85

In [ ]:
d1={'Bina':25,'Diba':13,'Giyan':10, 'Nobita':9,'Suniyo':8}

s_d1=sorted(d1.items(),key=lambda x1:x1[1])

print(s_d1)

# 86

In [ ]:
s=input()

freq={}

for i in s:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
        
print(freq)

# 87

In [ ]:
i=[2,4,5,6,7,8,10]

sqd={}

k=0

for i1 in i:
    
    if i1 not in sqd:
        
        n=i1*i1
        
        sqd[i1]=n
        
        k+=1
        
print(sqd)

# 88

In [ ]:
inp=input('Input a key to search:')

programming={'C':1976,'C++':1980,'Java':1991,'pythn':2000,'Pascal':1984}

if inp in programming:
    
    print('found')
    
else:
    print('not found')

# 89

In [ ]:
std1={
    'name':'Ena',
    'age':27,
    'address':'monipur'
}

std2={
    'name':'Boby',
    'age':17,
    'address':'Hariyana'
}

std3={
    'name':'Suri',
    'age':24,
    'address':'Texas'
}

std4={
    'name':'Sunny',
    'age':7,
    'address':'Florida'
}

sch={
    
     'std1':std1,
    
     'std2':std2,
    
     'std3':std3,
     'std4':std4
    
}

print(sch['std2']['name'])

print(sch['std2']['age'])

print(sch['std2']['address'])

# 90

In [ ]:
chn={}


std1={
    'name':'Ena',
    'age':27,
    'address':'monipur'
}

std2={
    'name':'Boby',
    'age':17,
    'address':'Hariyana'
}

std3={
    'name':'Suri',
    'age':24,
    'address':'Texas'
}

std4={
    'name':'Sunny',
    'age':7,
    'address':'Florida'
}

sch={
    
     'std1':std1,
    
     'std2':std2,
    
     'std3':std3,
     'std4':std4
    
}

c=0

print('total number of key-value  pair:')

for i in sch:
    
    a=sch[i]
    
    for k in range(len(a)):
        c+=1
        
print(c)

# 91

In [ ]:
emp1={
    'id':'056545',
    'salary':27000
}

emp2={
    'id':'0053324',
    'salary':56400
}

emp3={
    'id':'340765',
    'salary':24500
}

emp4={
    'id':'231076',
    'salary':73000
}

emp_inf={
    
     'emp1':emp1,
    
     'emp2':emp2,
    
     'emp3':emp3,
     'emp4':emp4
    
}


for i in emp_inf:
    
    a=emp_inf[i]
    
    if a['id']=='340765':
        
        a['salary']=657463
        
        emp_inf[i]= a['salary']
        
print(emp_inf)

# 92

In [ ]:
from collections import OrderedDict
from operator import getitem


p1={
    'name':'fruits',
    'price':2700,
    'quantity':'1 kg'
}

p2={
   'name':'protein',
   'price':8560,
   'quantity':'100 gm'
}

p3={
    'name':'Chilli',
    'price':5643,
    'quantity':'5 kg'
    
}

p4={
    'name':'Drinks',
    'price':10000,
    'quantity':'10 litre'
    
}

product_inf={
    
     'p1':p1,
    
     'p2':p2,
    
     'p3':p3,
     'p4':p4
    
}


r=OrderedDict(sorted(product_inf.items(), key = lambda x: getitem(x[1],'price')))

print(r)

# 93

In [ ]:
emp1={
    'id':'056545',
    'salary':27000
}

emp2={
    'age':20,
    'address':'Tokyo'
}

emp3={
    'dob':'11/5/23',
    'deparetment':'CSE'
}


emp_inf={
    
     'emp1':emp1,
    
     'emp2':emp2,
    
     'emp3':emp3
    
}

n=input('Enter key :')

f=0

for i in emp_inf:
    
    a=emp_inf[i]
    
    if n in (a.keys()):
        print('Key Found!!')
        f=1
        break
        
if f==0:
    print('Key Not Found!!')

# 94

In [ ]:
import math

n=int(input())
sqr=int(math.sqrt(n))
f=0

if n>2:
    
    for i in range(2,sqr+1):
        if n%i==0:
            print('not a prime number')
            f=1
            break
    
    if f==0:
         print('prime number')
        
    
elif n==2:
    print('prime number')
    
else:
    print('prime number')

# 95

In [ ]:
for i in range(1,21):
    if i%2==0:
        print(i,end=" ")
    else:
        continue

# 96

In [ ]:


while(1):
    
    password=input()
    l=len(password)
    
    up=0
    
    low=0
    
    digit=0
    
    for i in range(l):
        
        if password[i].isupper():
            up=1
        
        if password[i].islower():
            low=1
            
        if password[i].isdigit():
            digit=1
            
        
    if l>=8:
        if up==1:
            if low==1:
                if digit==1:
                    print('password accepted!')
                    break
    else:
        continue

# 97

In [ ]:
for i in range(1,51):
    if i%3!=0:
        if i%5!=0:
            continue
            
        else:
            print(i,end=' ')
        
         
    else:
        print(i,end=' ')

# 98

In [ ]:
s=0

while(1):
    n=int(input())
    
    if n<0:
        break
        
    else:
        s=s+n
        
print(s)

# 99

In [ ]:
while(1):

    xs=input()
    
    if len(xs)<3:
        continue
    else:

        w=''

        for i in xs:
            w=i+w

        if xs==w:
            print('paindrome')
        else:
             print('Not a paindrome')

# 100

In [ ]:
dd=[22,56,14,3,67,84,85,43]

for i in dd:
    if i%2!=0:
        print(f'First odd number is {i}')
        break

# 101

In [ ]:
import random

n=random.randrange(1,100)

while(1):
    
    g=int(input('Enter any number to guess'))
    
    if g<n:
        
        print('too small, guess again')
        
        continue
        
    elif g>n:
        
        print('too big,guess again')
        
        continue
        
    else:
        
        print('You guesses it Right!!')
        
        break

# 102

In [ ]:
s=input()

n=len(s)

d={}

t=0

v=['a','e','i','o','u']

for i in s:
    
    if i in v:
        
        if i in d:
        
            d[i]+=1
            
        if i not in d:
            
            d[i]=1
    else:
        
        continue
            
for k,v in d.items():
    print("%s : %d " % (k,v))
        
print(d)

# 103

In [ ]:
s=input()

d={}

t=0

for i in s:
        
    if i in d:
        t=1
        print('Repeating character..............')
        
        break
            
    if i not in d:
            
        d[i]=1
        
        continue
if t==0:
    
    print('Unique character')

# 104

In [ ]:
def fact(n):
    return 1 if (n==1 or n==0) else n*fact(n-1)


n=int(input())

print('factorial',n,'is',fact(n))

# 105

In [ ]:
def pndm(s):
    
    return s==s[::-1]

s=input()

ans=pndm(s)

if ans:
    print('Palindrome')
    
else:
    print('Not a Palindrome')

# 106

In [ ]:
def even_odd(n):
    if n%2==0:
        v='even'
        return v
    else:
        v='odd'
        return v
    
n=int(input())

v=even_odd(n)

print(v)

# 107

In [ ]:
def list_sum(t):
    s=0
    for i in range(len(t)):
        
        s=s+t[i]
        
    return s


t=[4,6,7,8,2]

s= list_sum(t)

print(s)

# 108

In [ ]:
def gcd (a,b):
    
    if b==0:
        
        return abs(a)
    else:
        return gcd(b,a%b)
    
a=int(input())

b=int(input())

print(gcd(a,b))

# 109

In [ ]:
def is_leap_year(y):
    if (y%400==0) and (y%100==0):
        
        return True
    elif(y%4==0) and (y%100!=0):
        return True
    else:
        return False
    
y=int(input())


print(is_leap_year(y))

# 110

In [ ]:
def math_operations(a,b,c,d):
    
    def add(a,b,c):
        
        return a+b+c
    
    def subtract(a,b,c):
        return a-b-c
    
    def mutiply(a,b,c):
        return a*b*c
    
    def divide(a,b,c):
        return a/b/c
    
    
    if d=='add':
        r=add(a,b,c) 
        return r
    
    if d=='subtract':
        sub=subtract(a,b,c) 
        return sub
     
    if d=='multiply':
        m=multiply(a,b,c)
        return m
        
     
    if d=='divide':
        d=divide(a,b,c)
        return d
    

a=int(input())
b=int(input())
c=int(input())
d=(input())

print(math_operations(a,b,c,d))

# 111

In [ ]:
def greeting_generator(s):
    
    def nstd(s):
        
        print (f'Hello,{s}!! How are you today??')
    
    nstd(s)
        

        
s=input ()       
greeting_generator(s)

# 112

In [ ]:
def temperature_converter(t,c):
    
    def tmp(t):
        
        f=t*(9/5)+32
        
        return f
    
    def tmpc(t):
        
        c=(t-32)*(5/9)
        
        return c
    
    
    if c=='C':
        
        f=tmp(t)
        return f
            
    elif c=='F':
        t2=tmpc(t)
        return t2
    

num=float(input('enter temperature:'))

degree=input('enter C for celcius and F for farenhite')
temperature_converter(num,degree)

# 113

In [ ]:
def factorial (n):
    
    if n==0 or n==1:
        
        return 1
    else:
        
        return n*factorial(n-1)
    
n=int(input())

print(factorial (n))

# 114

In [ ]:
def fibonacci (n):
    if n<=1:
        return n
    else:
        return fibonacci(n-1)+fibonacci(n-2)
    
n=int(input('enter N:'))

fib=[]

for i in range(n):
    
    fib.append(fibonacci(i))
    
print(fib[len(fib)-1])

# 115

In [ ]:
def sum_of_digits(n):
    
    if n==0:
        return 0
    
    return (n%10 + sum_of_digits(n/10))
            
n=int(input())
            
r= sum_of_digits(n)        
print(int(r))

# 116

In [ ]:
def binary_search(arr,low,high,x):
    
    if high>=low:
        
        mid=( high+low)//2
        
        if arr[mid]==x:
            
            return mid
        elif arr[mid]>x:
            return binary_search(arr,low,mid-1,x)
        else:
             return binary_search(arr,mid+1,high,x)
            
    else:
        return -1
    
arr=[5,8,9,12,18,27,33,47]

x=18

r=binary_search(arr,0,len(arr)-1,x)

if r!=1:
    
    print(f'element is found at {r}th index')
    
else:
    
    print(f'element is not found!')

# 117

In [ ]:
def power (b,e):
    
    x=1
    
    for i in range(e):
        
        x=x*b
        
    return x

print(power(8,3))